<html>
<h3>工作交流组</h3>
<iframe src="history" width="380" height="600" scrolling="auto" frameborder="0"></iframe>

  <body>
<form action="/signin" method="post">
<p><this is from template></p>
<p><input name="username"></p>
<p><button type="submit">发言</button></p>
</form>
<script language=javascript>
function testFunc()
{
var _width=400;//改为你要的网页宽度
var _height=850;//改为你要的网页高度
window.resizeTo(_width,_height);
}
testFunc();
//将这里的 <script> 与 <／script> 及他们之间的代码复制到你的网页上
//记得BODY这个标记里一定要加上 onresize=testFunc(); 这个属性，就像本页的BODY标记一样
//最大化都没用，窗口依然这么大
</script>
  </body>
</html>